* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    background: rgba(71, 147, 227, 1);
}

caption {
    text-align: center;
    font-size: 25px;
    color: white;
    padding: 10px 0;
}

/* Table Styles */

.table-box {
    display: none;
}

.s-table {
    border-radius: 5px;
    font-size: 15px;
    font-weight: lighter;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background: #f8f8f8a8;
}

.s-table td,
.s-table th {
    text-align: center;
    padding: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.s-table td {
    border-right: 1px solid #f8f8f8;
}

.s-table thead th {
    color: #ffffff;
    font-size: 18px;
    background: #4FC3A1;
}


.s-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.s-table tr:nth-child(even) {
    border-top: 1vh solid rgba(71, 147, 227, 1);
    background: #f8f8f8a8;
}

/* Responsive */

@media (max-width: 100%) {
    .s-table {
        display: block;
        width: 100%;
    }

    .table-box:before {
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }

    .s-table thead,
    .s-table tbody,
    .s-table thead th {
        display: block;
    }

    .s-table thead th:last-child {
        border-bottom: none;
    }

    .s-table thead {
        float: left;
    }

    .s-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }

    .s-table td,
    .s-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }

    .s-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }

    .s-table tbody tr {
        display: table-cell;
    }

    .s-table tbody tr:nth-child(odd) {
        background: none;
    }

    .s-table tr:nth-child(even) {
        background: transparent;
    }

    .s-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }

    .s-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }

    .s-table tbody td {
        display: block;
        text-align: center;
    }
}